* {
    margin: 0;
    padding: 0;
}



.topNav {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
    border: 1px solid white;
    background: green;
}

.hero {
    border: 1px solid blue;
    height: auto;
    width: 100vw;
    position: relative;
}

#chip2016 {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
}

.hero-text {
    border: 1px solid white;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 25%;
    height: 15%;
    text-align: right;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text p {
    font-size: 32px;
    padding-top: 16px;
}